.body{
    font-family:'Playfair Display',serif;
}
#navbar{
    margin-top: 20px;
}
#all-images{
    margin-top: 20px;
}
#footer{
    height: 200px;
    background-color: #cccccc;
    width: 1110px;
}
